{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}

    <style>
        form{
            border-collapse: collapse;
            width: 70%;
        }
    table#myTable {
        align:"left";
        border: 1px solid black;
        height: 8px;
        width: 80%;
        text-align: left;
        border-collapse: collapse;
        font-size: 10px;
    }
    </style>

    {% include 'userpanal/Detail.html' %}

    <div class="col-xs-9">
        <div class="container-fluid">
            <div class="page-header">
                <h2>Train Route</h2>
            </div>

        </div>
    </div>

    <div class="container-fluid  img-responsive">
        <div class="row">
            <div class="col-md-9">
                <form id="trainRoute">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group form-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary  center-block " type="button" ><strong>Train Number</strong></button>
                            </span>
                            <input class="form-control dd_user_input"  id="trainNumber" type="text" placeholder="Enter Train Number">
                            <span class="input-group-btn">
                                <button type = "submit" class = "btn btn-info">Submit</button>
                            </span>
                        </div>
                    </div>
                </form>

            </div>

        </div>

    </div>
    <div id="train_Route_html"></div>




<script src="{% static 'Train_Route/js/trainRoute.js' %}"></script>

{% endblock %}