<hr>
<h3>Quotas in Indian Railways:</h3>
<table class="table table-bordered ">
    <thead>
    <tr>
        <th>S.No</th>
        <th>Quota</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>GN</td>
        <td>General Quota</td>
    </tr>
    <tr>
        <td>2</td>
        <td>LD</td>
        <td>Ladies Quota</td>
    </tr>
    <tr>
        <td>3</td>
        <td>HO</td>
        <td>Head quarters/high official Quota</td>
    </tr>
    <tr>
        <td>4</td>
        <td>DF</td>
        <td>Defence Quota</td>
    </tr>
    <tr>
        <td>5</td>
        <td>PH</td>
        <td>Parliament house Quota</td>
    </tr>
    <tr>
        <td>6</td>
        <td>FT</td>
        <td>Foreign Tourist Quota</td>
    </tr>
    <tr>
        <td>7</td>
        <td>DP</td>
        <td>Duty Pass Quota</td>
    </tr>
    <tr>
        <td>8</td>
        <td>CK</td>
        <td>Tatkal Quota</td>
    </tr>
    <tr>
        <td>9</td>
        <td>PT</td>
        <td>Premium Tatkal Quota</td>
    </tr>
    <tr>
        <td>10</td>
        <td>SS</td>
        <td>Female(above 45 Year)/Senior Citizen/Travelling alone</td>
    </tr>
    <tr>
        <td>11</td>
        <td>HP</td>
        <td>Physically Handicapped Quota</td>
    </tr>
    <tr>
        <td>12</td>
        <td>RE</td>
        <td>Railway Employee Staff on Duty for the train</td>
    </tr>
    <tr>
        <td>13</td>
        <td>GNRS</td>
        <td>General Quota Road Side</td>
    </tr>
    <tr>
        <td>14</td>
        <td>OS</td>
        <td>Out Station</td>
    </tr>
    <tr>
        <td>15</td>
        <td>PQ</td>
        <td>Pooled Quota</td>
    </tr>
    <tr>
        <td>16</td>
        <td>RC(RAC)</td>
        <td>Reservation Against Cancellation</td>
    </tr>
    <tr>
        <td>17</td>
        <td>RS</td>
        <td>Road Side</td>
    </tr>
    <tr>
        <td>18</td>
        <td>YU</td>
        <td>Yuva</td>
    </tr>
    <tr>
        <td>19</td>
        <td>LB</td>
        <td>Lower Berth</td>
    </tr>




    </tbody>
</table>

<hr>
<h3>Accommodation Classes in Indian Railways:</h3>

<table class="table table-bordered ">
    <thead>
    <tr>
        <th>CLASSES </th>
        <th>Code</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>First class Air-Conditioned (AC) </td>
        <td>1A</td>
    </tr>
    <tr>
        <td>AC 2-tier sleeper</td>
        <td>2A</td>
    </tr>
    <tr>
        <td>First class</td>
        <td>FC</td>
    </tr>
    <tr>
        <td>AC 3 Tier</td>
        <td>3A</td>
    </tr>
    <tr>
        <td>AC chair Car</td>
        <td>CC</td>
    </tr>
    <tr>
        <td>Sleeper Class</td>
        <td>SL</td>
    </tr>
    <tr>
        <td>Second Sitting</td>
        <td>2S</td>
    </tr>
    </tbody>
</table>