
{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}

    <style>

        .table .td .th {
            border: 1px solid black;
            text-align: left;
        }

        .table {
            border-collapse: collapse;
            width: 80%;
        }

        th, td {
            padding: 1px;
        }
    </style>

{% include 'userpanal/Detail.html' %}
<div class="container">

<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="10"><h3>Train Fair Enquiry</h3></th>
    </tr>

    <tr>
      <th colspan="4"><h5>Train :  {{ train.name }} ({{ train.number }})</h5></th>
    </tr>

    <tr>
      <th colspan="2"><h5>From :  {{ from_train.name }} ({{ from_train.code }})</h5></th>
      <th colspan="2"><h5>To: {{ to_train.name }} ({{ to_train.code }})</h5></th>
    </tr>

    <tr>
      <th colspan="2"><h5>Quota :  {{ quota.name }} ({{ quota.code }})</h5></th>
      <th colspan="2"><h5>Date: {{ to_train.name }} ({{ to_train.code }})</h5></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% if response_code == 204 %}
    <div class="alert alert-danger col-xs-9">
      <strong>Error!</strong> Invalid Input Data
    </div>
{% else %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="1"><h4>Code </h4></th>
          <th colspan="1"><h4>Name</h4></th>
          <th colspan="1"><h4>Fare</h4></th>
        </tr>
      </thead>
      <tbody>
            {% for i in fare %}
                <tr>
                <td>{{ i.code }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.fare }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endif %}

</div>




{% endblock %}