


body {
    background: white url("../images/background.jpg");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

.navbar-backgrnd {
    color: red;
    min-height: 50px;
}

.navbar-header {
    color: #d6d6d6;
}

.navbar-default .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    color : saddlebrown;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.fg_img img{
    height:30px;
    width:50px;
}


#background{
    width: 100%;
    height: 100%;
}

#bg_img{

    min-height: 50px;
    min-width: 50px;

}

#content{
    width: 100%;
    height: 100%;
    color: aqua;
    position: absolute;
}

#add_space{
    height: 100%;


}