<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Train Status Online{% endblock %}</title>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="http://www.tutorialspoint.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Satisfy" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

    <link rel="stylesheet" type="text/css" href="{% static 'userpanal/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'userpanal/one-page-wonder.css' %}" />

    <!--
    <meta http-equiv="refresh" content="30">
    -->
</head>
<body>

    <nav class="navbar navbar-default navbar-fnt navbar-backgrnd">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tapNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!--
                <div class="fb_img">
                    <img src={% static "images/login-with-facebook.png" %} alt="" >
                </div>
                -->
                <a class="navbar-brand" href="{% url 'userpanal:index' %}">

                    Train Status Online </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                  {% if user and not user.is_anonymous %}
                    <li class = "dropdown">

                          <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">
                             <img src="{{ request.user.profile.profile_image_url }}"/> &nbsp;
                          </a>

                          <ul class = "dropdown-menu">
                             <li><a>Hello {{ user.get_full_name|default:user.username }}!</a></li>

                             <li class = "divider"></li>
                             <li><a href='/accounts/logout'  name='csrfmiddlewaretoken' value='NEonJCMHfluYaxWBuXhsU48zFr63Tbswfiz94lngPfx44NpAiVuAwMRaUpxQshvI'>Logout</a></li>
                          </ul>

                       </li>
                  {% endif %}
            </ul>


         </div>
    </nav>




    <div class="col-xs-12">
        <div class="container-fluid img-responsive">
            {% block body %}
            {% endblock %}
        </div>
    </div>



    <div class="col-xs-3 " id="add_space">
        <div class="container-fluid img-responsive">
            <!--
            <h3> space for adds</h3>
            <img src={% static "images/login-with-facebook.png" %} alt="" class="img-responsive center-block">
            -->
        </div>
    </div>



<script src="{% static 'userpanal/js/DisableRightClick.js' %}"></script>
</body>

<!--
<div class="footer container-fluid ">
  <p>© 2016. All Rights Reserved.</p>
</div>
-->

</html>