<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Train Status Online{% endblock %}</title>
    {% load staticfiles %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link href="http://www.tutorialspoint.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'userpanal/bootstrap.min.css' %}" />

    <link href="http://fonts.googleapis.com/css?family=Satisfy" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>

    <link rel="stylesheet" type="text/css" href="{% static 'userpanal/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'userpanal/one-page-wonder.css' %}" />

<!--
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
-->

</head>
<body>

    <nav class="navbar navbar-default navbar-fnt navbar-backgrnd">
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tapNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% url 'userpanal:index' %}">Train Status Online </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                  {% if user and not user.is_anonymous %}

                    <li class = "dropdown" >

                          <a class = "dropdown-toggle" data-toggle = "dropdown" href = "#">
                             <img src="{{ request.user.profile.profile_image_url }}" onload="calltimer()"/> &nbsp;
                          </a>

                          <ul class = "dropdown-menu">
                             <li><a>Hello {{ user.get_full_name|default:user.username }}!</a></li>

                             <li class = "divider"></li>
                             <li><a href='/accounts/logout'  name='csrfmiddlewaretoken' value='NEonJCMHfluYaxWBuXhsU48zFr63Tbswfiz94lngPfx44NpAiVuAwMRaUpxQshvI'>Logout</a></li>
                          </ul>

                       </li>
                  {% endif %}
            </ul>


         </div>
    </nav>

<div class="container-fluid">
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9">
            <div class="row ">
                <div class="col-xs-18 col-sm-12">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <div class="row ">
                 {% if user and not user.is_anonymous %}
                    <br><hr>
                    <div class="col-xs-6 col-sm-4">
                        <div id="recent_search"></div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div id="#"></div>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <div id="#"></div>
                    </div>
                 {% endif %}

            </div>

            <div class="row ">
                <div class="col-xs-18 col-sm-12">
                        {% if info_page == 'index'  or info_page == 'pnr_status'%}
                            {% include 'userpanal/pnr_info.html' %}
                        {% endif %}
                        {% if info_page == 'seatAvailability'  or info_page == 'trainBetweenStations' or info_page == 'trainFairEnquiry'%}
                            {% include 'Seat_Availability/Quotas_in_ Indian_Railways.html' %}
                        {% endif %}
                </div>
            </div>


		</div>

		<div class="col-xs-6 col-sm-3  sidebar-offcanvas" id="sidebar">
              <div class="row">
                <div class="fb-like" data-href="http://www.trainstatusonline.in/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
              </div><hr>
              <div class="row">
                  <div class="list-group">

                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- ad1 -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:336px;height:280px"
                             data-ad-client="ca-pub-5288701113836096"
                             data-ad-slot="3927946163"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                  <!--  <a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>-->

                  </div>
               </div>
		</div><!--/span-->
	</div><!--/row-->

    <br><hr><br><br><br>



    <footer style="bottom:0;height: auto;">

    </footer>

</div>




<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=525702034300871";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- for google share button Place this tag in your head or just before your close body tag.-->
<script src="https://apis.google.com/js/platform.js" async defer></script>


<style>
#RecentPnr tr {
display: inline-table;
height:7px;
width: 100%;

}

#RecentPnr{
 width: 100%;
 height:300px;
 display: -moz-groupbox;
 font-size: 12px;

}
#RecentPnr tbody{
  overflow-y: scroll;
  height: 100px;
  width: 285px;
  position: absolute;
}
</style>

<script  src="{% static 'userpanal/js/dataBasePnr.js' %}"></script>
<script src="{% static 'userpanal/js/DisableRightClick.js' %}"></script>



</body>





</html>