
{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}

    <div class="container">

        <h3>
            <a href="{% url 'userpanal:pnr_status' %}" > PNR status</a>
        </h3>
        <h3>
            <a href="{% url 'Train_Route:trainRoute' %}" > Train Route</a>
        </h3>

        <h3>
            <a href="{% url 'Live_Train_Status:liveTrainStatus' %}" > Live Train Status</a>
        </h3>

        <h3>
            <a href="{% url 'Seat_Availability:seatAvailability' %}" > Live Train Status</a>
        </h3>

    </div>
{% endblock %}