{% extends 'userpanal/base.html' %}


{% load staticfiles %}
{% block body %}

<div class="col-xs-18 col-sm-12">
    {% include 'userpanal/Detail.html' %}


    <div class="row">
        <p align="center"><font size="5">PNR Status</font></p>
    </div>

    <div class="row">
        <form id="pnrstatus">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group form-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary  center-block " type="button" ><strong>PNR Number</strong></button>
                    </span>
                    <input class="form-control dd_user_input"  id="pnrno" type="text" placeholder="10 Digit PNR Number">
                    <span class="input-group-btn">
                        <button type = "submit" class = "btn btn-info">Submit</button>
                    </span>
                </div>
            </div>
        </form>
        <div id="pnr_status_html"></div>
    </div>

</div>


<script src="{% static 'userpanal/js/userpanal.js' %}"></script>


{% endblock %}