<hr>
<h4>What is PNR number?</h4>
<p>PNR (passenger name record) number in Indian railways ticket is a 10 digit number (a combination of 3 and 7 digits).</p>
<p>A typical PNR number is like  214-1215305.</p>

<hr>
<h4>PNR :- It's Meaning And Status In Journey</h4>
<p>In the airline and travel industries, a passenger name record (PNR) is a record in the database of a computer reservation system (CRS) that has the itinerary for a passenger, or a group of passengers travelling together.</p>
<p>The concept of a PNR was first introduced by airlines that needed to exchange reservation information in case passengers required flights of multiple airlines to reach their destination (‘interlining’).</p>

<p>Talking in the context of Indian Railways, PNR number is a unique pointer to a record in the railway database.</p>
<p>The record pointed by PNR contains comprehensive journey details.</p>

<hr>
<h4>The details may include:</h4>
<p>Passenger Details (Name, Age, Sex, Birth Preference)</p>
<p>Ticket Details (Train No, Date, From, To, Boarding Station, Reservation Upto, Class, Birth, Quota)</p>
<p>Transaction / Payment Details (Transaction ID, Payment Mode, Ticket Charge)</p>

<hr>
<h4>First 3 Digits:</h4>
<p>They tell us from which PRS the ticket has been booked.
(PRS: Passenger Reservation System. Developed by CRIS, PRS is a total networking solution to Indian
Railways Passenger Reservation System.)</p>

<p>The PNR numbers’ starting digit does not depend on the PRS from which it has been booked.</p>
<p>It depends upon: Zone of the Train, w.r.t. starting station of the train.</p>


<table class="table table-bordered ">
    <thead>
    <tr>
        <th>Number</th>
        <th>Code</th>
        <th>Zone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>SCR</td>
        <td>Secunderabad PRS</td>
    </tr>
    <tr>
        <td>2, 3</td>
        <td>NR, NCR, NWR, NER</td>
        <td>New Delhi PRS</td>
    </tr>
    <tr>
        <td>4, 5</td>
        <td>SR, SWR, SCR</td>
        <td>Chennai PRS</td>
    </tr>
    <tr>
        <td>6, 7</td>
        <td>NFR, ECR, ER, ECoR, SER, SECR</td>
        <td>Calcutta PRS</td>
    </tr>
    <tr>
        <td>8, 9</td>
        <td>CR, WCR, WR</td>
        <td>Mumbai PRS</td>
    </tr>
    </tbody>
</table>


<p>e.g. If a ticket is booked in Rajdhani Express (Mumbai to New Delhi), as the starting station is Mumbai, PNR will start from 8.</p>
<p>The subsequent 2 digits detail specific PRS in the zone.</p>
<p>e.g. If you book from Dadar PRS center, it can be 57 (For an example only). For Ahmedabad, it may be 24.</p>
<p>To sum up, if the first 3 digits are 824, then it says that the zone is either CR, WCR or WR and the PRS center is Ahmedabad.</p>
<hr>

<h4>Last 7 Digits</h4>
<p>They are randomly generated numbers.</p>
<p>They represent no information about the ticket or journey. This is done to make the PNR number unique.</p>
<p>One can check status of PNR number of http://www.indianrail.gov.in website.</p>
<p>Also at every major stations, PNR stats checking counters are available.</p>
<hr>

<p>Passanger name record number lasts minimum 9 month as the TDR filed can take maximum of 9 months.</p>
<p>It then flushed out from the database.</p>
<p>(Normally) The digits of PNR become meaningless.</p>
<p>However, PNR details may not be available for the general public once the journey gets over for privacy and security concerns of passengers</p>
<hr>

<h4>What is RAC?</h4>
<p>A Reservation Against Cancellation (RAC) is technically a train ticket with confirmed seat but wait listed berth.</p>
<p>In other words, if your train ticket shows RAC as its status (with an RAC status number),
you can board the train and occupy the seat allowed, instead of a sleeping berth at night.</p>
<p>A berth is split into 2 seats for 2 RAC ticket holders.</p>


<hr>
<h4>Acronyms:</h4>
<table class="table table-bordered ">
    <tbody>
    <tr>
        <td>CAN</td>
        <td>CANCELLED</td>
    </tr>
    <tr>
        <td>CNF</td>
        <td>CONFIRM</td>
    </tr>
    <tr>
        <td>RAC</td>
        <td>RESERVATION AGAINST CANCELLATION</td>
    </tr>
    <tr>
        <td>WL</td>
        <td>WAITLIST</td>
    </tr>
    <tr>
        <td>RLWL</td>
        <td>REMOTE LOCATION WAITLIST</td>
    </tr>

    <tr>
        <td>PQWL</td>
        <td>POOLED QUOTA WAITLIST</td>
    </tr>

    <tr>
        <td>RSWL</td>
        <td>ROAD-SIDE WAITLIST</td>
    </tr>

    <tr>
        <td>REL</td>
        <td>RELEASED</td>
    </tr>

    <tr>
        <td>NR</td>
        <td>NOROOM</td>
    </tr>
    <tr>
        <td>NOSB</td>
        <td>NO SEAT BERTH</td>
    </tr>
    <tr>
        <td>WEBCAN</td>
        <td>Railway Counter Ticket: Passenger has been cancelled over internet and refund has not been collected.</td>
    </tr>
    <tr>
        <td>WEBCANRF</td>
        <td>Railway Counter Ticket: Passenger has been cancelled over internet and refund has been collected.</td>
    </tr>


    </tbody>
</table>
