{% load staticfiles %}
<!--<script src="http://code.jquery.com/jquery-1.7.1.min.js"> </script>-->
<script src="{% static 'userpanal/js/jquery-1.7.1.min.js' %}"></script>

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
<script src="{% static 'userpanal/js/ajax_libs_jquery_1.11.2_jquery.min.js' %}"></script>

<!--<script type="text/javascript" src="http://railwayapi.com/jquery-ui-1.8.2.custom.min.js"></script>-->
<script src="{% static 'userpanal/js/jquery_custom_min.js' %}"></script>

<!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
<link rel="stylesheet" type="text/css" href="{% static 'userpanal/themes_start_jquery.css' %}" />

<!--<script type="text/javascript" src="http://railwayapi.com/autocomplete.js"></script>-->
<script src="{% static 'userpanal/js/railwayapi_autocomplete.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'userpanal/autocomplete.css' %}" />





<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
$( "#date" ).datepicker({
    minDate: 0,
    maxDate: "+0M +120D",
    dateFormat: 'dd-mm-yy',
});
} );
</script>
