{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}

{% include 'userpanal/station_file_link.html' %}

<style>
table#myTable,#myTable2 {
    align:"left";
    border: 1px solid black;
    height: 8px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 10px;
}
</style>


    <div class="col-xs-18 col-sm-12">
    {% include 'userpanal/Detail.html' %}
      		<div class="row">
                <p align="center"><font size="5">Train Arrivals At Station</font></p>
            </div>

            <div class="row">
                <form id="trainArrival">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group form-group">
                            <span class="input-group-btn">
                                <button class="btn btn-primary  center-block " type="button" ><strong>Station Name</strong></button>
                            </span>
                            <input class="form-control dd_user_input"  id="source" type="text" placeholder="Enter Station Name">
                            <span class="input-group-btn">
                                <button type = "submit" class = "btn btn-info">Submit</button>
                            </span>
                        </div>
                    </div>
                </form>
                <div id="train_Arrival_Detail"></div>
                </div>
    </div>

<script src="{% static 'Train_Arrivals_At_Station/js/trainArr.js' %}"></script>


{% endblock %}