
{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}
    <script type="text/javascript">
            $(document).ready(function(){
             setInterval(findYellow,1000);
             function findYellow(){
              $("tr.blinkYellow").each(function(){
                   $(this).toggleClass("background-color-yellow");
                 })
                }
            });
    </script>

    <style>

        .table .td .th {
            border: 1px solid black;
            text-align: left;
        }

        .table {
            border-collapse: collapse;
            width: 80%;
        }

        th, td {
            padding: 1px;
        }

        .background-color-yellow { background-color: palegreen; }
    </style>

<body>
<div class="container">

<table class="table table-bordered">

  <thead>
    <tr>
      <th colspan="5"><h3>Live Train Status </h3></th>
      <th colspan="5"><h3>Start Date</h3></th>
    </tr>


    <tr>
      <th colspan="5"><h4>Train : {{ train_number }}</h4></th>
      <th colspan="5"><h4>{{ start_date }}</h4></th>
    </tr>


    <tr>
      <th colspan="10"><h4>{{ position }}</h4></th>
    </tr>


    <tr>
      <th>No</th>
      <th>Station Name</th>
      <th>Station code</th>
      <th>Sch. Arrival</th>
      <th>Sch. Departure</th>
      <th>Actual Arrival</th>
      <th>Actual Departure</th>
      <th>Late min</th>
      <th>Distance</th>

    </tr>
  </thead>
  <tbody>

    {% for i in route %}

      {% if i.station_ == current_station.station_ %}
        <tr  class="blinkYellow">
          <th scope="row">{{ i.no }}</th>
          <td>{{ i.station_.name}}</td>
          <td>{{ i.station_.code}}</td>
          <td>{{ i.scharr}}</td>
          <td>{{ i.schdep}}</td>
          <td>{{ i.actarr}}</td>
          <td>{{ i.actdep}}</td>
          <td>{{ i.latemin}}</td>
          <td>{{ i.distance}}</td>
        </tr>
      {% else %}
        <tr>
          <th scope="row">{{ i.no }}</th>
          <td>{{ i.station_.name}}</td>
          <td>{{ i.station_.code}}</td>
          <td>{{ i.scharr}}</td>
          <td>{{ i.schdep}}</td>
          <td>{{ i.actarr}}</td>
          <td>{{ i.actdep}}</td>
          <td>{{ i.latemin}}</td>
          <td>{{ i.distance}}</td>
        </tr>

      {% endif %}
    {% endfor %}


  </tbody>
</table>
</div>


{% endblock %}