{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}
{% include 'userpanal/station_file_link.html' %}


    <script type="text/javascript">
            $(document).ready(function(){
             setInterval(findYellow,1000);
             function findYellow(){
              $("tr.blinkYellow").each(function(){
                   $(this).toggleClass("background-color-yellow");
                 })
                }
            });
    </script>

    <style>
    table#myTable {
        align:"left";
        border: 1px solid black;
        height: 8px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        font-size: 12px;
    }
    .background-color-yellow { background-color: palegreen; }
    </style>



<div class="col-xs-18 col-sm-12">
  {% include 'userpanal/Detail.html' %}
  <div class="row">
  <form>
  {% csrf_token %}
  <table >
  <tbody>
    <tr>
      <td class="eform" >
            <p align="center"><font size="5">Live Train Status</font></p>

      		<div class="col-xs-12 col-sm-6 form-group">
              <input type="text" class="form-control dd_user_input" id="trainNumber" placeholder="Enter Train Number" >
            </div>
            <div class="col-xs-4 col-sm-4 form-group">
              <input type="text" class="form-control dd_user_input " id="livedate" placeholder="dd-mm-yyyy" >
            </div>

            <div class="col-xs-2 col-sm-2 form-group">
                <button type = "button" id="livetrainstatus" class = "btn btn-info">Submit</button>
            </div>
      </td>
    </tr>

  </tbody>
  </table>
</form>
      <div id="live_train_status_html"></div>
</div>
</div>


<script src="http://cdn.bootcss.com/require.js/2.2.0/require.js"></script>
<script>
    requirejs.config({
        paths:{
            'jquery':"http://cdn.bootcss.com/jquery/1.12.4/jquery.min",
            'jquery-mloading':"{% static 'userpanal/js/jquery.mloading' %}"
        }
    });
</script>
<script src="{% static 'Live_Train_Status/js/liveTrainStatus.js' %}"></script>

{% endblock %}