{% extends 'userpanal/base.html' %}

{% load staticfiles %}
{% block body %}

{% include 'userpanal/station_file_link.html' %}

<style>
table#myTable,#myTable2 {
    align:"left";
    border: 1px solid black;
    height: 8px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    font-size: 12px;
}
</style>




<div class="col-xs-18 col-sm-12">
  {% include 'userpanal/Detail.html' %}
  <div class="row">
  <form>
  {% csrf_token %}
  <table >
  <tbody>
    <tr>
      <td class="eform" >
            <p align="center"><font size="5">Trains Between Stations</font></p>

      		<div class="col-xs-6 col-sm-4 form-group">
              <input type="text" class="form-control dd_user_input" id="source" name="Source_station_code" placeholder="Source Station" >
            </div>
            <div class="col-xs-6 col-sm-4 form-group">
              <input type="text" class="form-control dd_user_input " id="dest" name="Destination_station_code" placeholder="Destination Station" >
            </div>
            <div class="col-xs-4 col-sm-3 form-group">
              <input type="text" class="form-control dd_user_input " id="date" name="date" placeholder="dd-mm-yyyy" >
            </div>

            <div class="col-xs-2 col-sm-1 form-group">
                <button type = "button"  id="train_station" class = "btn btn-info">Submit</button>
            </div>
      </td>
    </tr>

  </tbody>
  </table>
</form>
      <div id="train_station_output"></div>
</div>
</div>





<script src="http://cdn.bootcss.com/require.js/2.2.0/require.js"></script>
<script>
    requirejs.config({
        paths:{
            'jquery':"http://cdn.bootcss.com/jquery/1.12.4/jquery.min",
            'jquery-mloading':"{% static 'userpanal/js/jquery.mloading' %}"
        }
    });
</script>
<script src="{% static 'Train_Between_Stations/js/trainBetweenStations.js' %}"></script>


{% endblock %}

